.entryDetail {
  background: white;
  border-radius: 4px;
  width: 500px;
  height: 150px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.entryDetail h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.entryDetail p {
  font-size: 0.9em;
  color: #555;
}

.entryDetail span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.details {
  display: grid;
  height: 95%;
}

#date {
  align-self: flex-end;
  justify-self: center;
}
